@charset "UTF-8";
/*            */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*            */
body {
  height: 100%;
  background-color: #EEF2F2;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: url("..//..//img/backgrounds/IMG_6371-11-1.jpg") 0 0 no-repeat;
  min-height: 500px;
  position: relative;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #31312B;
  border-bottom: 3px solid #fff;
}
.header__menu {
  border-bottom: 3px solid #fff;
}

.title__logo {
  margin: 0 15px 0 0;
}
.title__info-title {
  text-align: center;
}
.title__info-title p {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
.title__info-content {
  display: flex;
  border: 2px solid #7A7A6B;
}
@media (max-width: 767px) {
  .title__info-content {
    border: none;
  }
}
.title__info-content-block {
  display: flex;
  align-items: center;
}
.title__info-content-block span {
  font-size: 110px;
  font-weight: 500;
  color: #ABAB95;
  text-shadow: 2px 2px 8px #000;
}
@media (max-width: 767px) {
  .title__info-content-block span {
    font-size: 60px;
  }
}
.title__info-content-block p {
  font-size: 20px;
  color: #31312B;
  padding: 0 20px;
}
.title__info-contacts {
  border: 2px solid #7A7A6B;
  padding: 30px 10px;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
@media (max-width: 767px) {
  .title__info-contacts {
    border: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.menu__list > li {
  border-radius: 15px 15px 15px 15px;
}
.menu__list > li:hover {
  box-shadow: 0px -4px 8px #CA6F1E;
  transition-duration: 0.3s;
}
.menu__list li {
  position: relative;
  transition-duration: 0.3s;
}
.menu__link {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background-color: #F0B27A;
  padding: 10px;
  border-radius: 15px;
}
.menu__link:hover {
  opacity: 0.8;
}
.menu__link.parent {
  padding-right: 40px;
}
.menu__link.borderBottom {
  border-radius: 15px 15px 0 0;
}

.sub-menu__list {
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
  height: 0;
  transition-duration: 0.2s;
  overflow: hidden;
  display: block;
  min-width: 150px;
  background-color: #F8C471;
  position: absolute;
  top: 40px;
  left: 0px;
}
.sub-menu__list li {
  padding: 10px;
}
.sub-menu__list li:hover {
  background-color: #FAD7A0;
}
.sub-menu__link {
  font-size: 20px;
  padding: 5px 0 5px 0;
  color: #fff;
  display: inline-block;
}

.arrow {
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid #A2754D;
  border-bottom: none;
  border-right: 10px solid transparent;
  position: absolute;
  top: 15px;
  right: 10px;
  transition-duration: 0.3s;
}

.arrow.active {
  transform: rotate(-180deg);
  transition-duration: 0.3s;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  transition-duration: 0.5s;
  height: 250px;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  transition-duration: 0.5s;
  height: 250px;
}

body.touch .sub-menu__list.open {
  transition-duration: 0.5s;
  height: 250px;
  border-radius: 0px 15px 15px 15px;
}

body.touch .sub-sub-menu__list.open {
  transition-duration: 0.5s;
  height: 250px;
}

body.touch .arrow {
  display: block;
}

@media (max-width: 900px) {
  .header__title {
    flex-wrap: wrap;
  }

  .title__info-content {
    flex-wrap: wrap;
    border: none;
  }
  .title__info-content span {
    font-size: 70px;
  }

  .bottom__row {
    flex-wrap: wrap;
  }

  .title__logo {
    margin: 0 auto;
  }

  .title__info-contacts {
    border: none;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 0 15px;
  }

  .title__info-content {
    flex-wrap: wrap;
  }

  .bottom__row {
    flex-wrap: wrap;
  }

  .bottom__row-column {
    margin: 0 auto;
  }

  .header__animate {
    display: none;
  }

  .menu__list {
    display: block;
  }
  .menu__list li {
    display: block;
    max-width: 250px;
    margin: 10px auto;
  }

  body.touch .sub-menu__list.open {
    border-radius: 0px 0px 15px 15px;
  }

  .menu__link {
    display: block;
  }

  .sub-menu__list {
    position: relative;
    top: 0;
  }
}
.form-cover {
  z-index: 0;
  position: relative;
  margin: 10px;
  min-width: 300px;
  max-height: 60px;
}
.form-cover > p {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: none;
  cursor: pointer;
  background: rgba(24, 181, 164, 0.9);
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  position: relative;
  transition-duration: 0.4s;
}
.form-cover > p:hover {
  box-shadow: 0px 2px 6px #363A3E;
  transition-duration: 0.4s;
}

.icon {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 150px;
  font-size: 12px;
  transition-duration: 0.4s;
  letter-spacing: 4px;
}

.icon:hover {
  color: #EF5236;
  transition-duration: 0.4s;
  font-weight: bold;
}

.form {
  position: absolute;
  width: 100%;
  background: rgba(24, 181, 164, 0.6);
  transition-duration: 0.4s;
  height: 0px;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}
@media (max-width: 767px) {
  .form {
    background: #18b5a4;
  }
}
.form p {
  text-align: left;
  font-size: 20px;
  padding: 0 0 5px 0;
  color: #EF5236;
}
.form div {
  padding: 0px;
}
.form input {
  height: 30px;
  padding: 0 0 0 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #363A3E;
}
.form__sex div {
  display: flex;
  align-items: center;
}
.form__sex div p {
  margin: 5px 10px 0 0;
}
.form__sex div input {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  box-shadow: none;
}
.form__buttons button {
  position: relative;
  background: rgba(56, 151, 237, 0.5);
  border-radius: 10px;
  display: inline-block;
  width: 80px;
  margin: 0 40px 0 0;
  font-size: 20px;
  padding: 0 10px;
  transition-duration: 0.4s;
  color: #fff;
  box-shadow: 0px 2px 10px #363A3E;
}
.form__buttons button:hover {
  background: #3897ed;
  box-shadow: 1px 2px 4px #363A3E;
  transition-duration: 0.4s;
}
.form__buttons button:active {
  background: #225d92;
  box-shadow: 1px 0px 4px #363A3E;
  top: 2px;
  transition-duration: 0.4s;
}

.header__bottom {
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.bottom__title {
  background: rgba(48, 42, 37, 0.5);
  padding: 30px 0;
}
.bottom__title p {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
}
.bottom__row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.bottom__row-column {
  background: rgba(48, 42, 37, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .bottom__row-column {
    margin: 10px;
    display: block;
  }
}
.bottom__row-column p {
  font-size: 20px;
  color: #fff;
  padding: 20px;
}
.bottom__row-column a {
  display: inline-block;
  padding: 6px 0;
  margin: 0 20px 10px 20px;
  text-align: center;
  font-size: 15px;
  background-color: #EA8124;
  width: 180px;
  color: #fff;
  transition-duration: 0.3s;
}
.bottom__row-column a:hover {
  background: rgba(234, 129, 36, 0.5);
  transition-duration: 0.3s;
  box-shadow: 0 0 8px #A75A15;
}

.header__animate {
  position: absolute;
  left: 49%;
  bottom: 13%;
  z-index: 999;
}

.animate__chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.animate__chevron:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  left: 0;
  transform: skew(0deg, 30deg);
}
.animate__chevron:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
.animate__chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.animate__chevron:last-child {
  animation: move 3s ease-out 5s infinite;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px) scale3d(1.2, 1.2, 1.2);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.content {
  color: #EA8124;
}

.content {
  padding: 20px 0 0 0;
  background-color: #EEF2F2;
}
.content__row-01 {
  margin: 0 auto;
}
.content__title {
  text-align: center;
}
.content__title p {
  font-size: 30px;
}
.content__title:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 3px;
  background-color: #EA8124;
}
.content__row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .content__row {
    justify-content: center;
  }
}

.row__box {
  background-color: #D0D9DA;
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 15px;
}
@media (max-width: 900px) {
  .row__box {
    padding: 0;
  }
}
.row__box-icon {
  font-size: 140px;
}
.content__row-02 {
  margin: 60px auto;
  padding: 50px 0 50px 0;
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  margin: 0 10px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background: url("..//..//img/icons/Arrow-left.png") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  width: 30px;
  height: 30px;
  background: url("..//..//img/icons/Arrow-right.png") 0 0/100% no-repeat;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots li.slick-active button {
  background-color: #000;
}
@media (max-width: 500px) {
  .slider .slick-dots li {
    margin: 0 5px;
  }
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 50%;
}
.slider__item {
  opacity: 0.4;
  transition-duration: 0.4s;
  text-align: center;
  padding: 5px 0;
  max-height: 80px;
}
.slider__item.slick-center {
  transition-duration: 0.4s;
  opacity: 1;
}
@media (max-width: 500px) {
  .slider__item {
    max-height: 60px;
  }
}
.slider__item img {
  height: 100%;
  transition-duration: 0.4s;
  /*	@media (max-width:900px){
  		max-height: 250px;
  	}
  	@media (max-width:500px){
  		max-height: 150px;
  	//	margin: 20px 0;
  	}*/
}
.sliderBig {
  margin: 0 0 30px 0;
  padding: 0;
  transition-duration: 0.4s;
}
.sliderBig__item {
  position: relative;
  max-height: 500px;
  text-align: center;
  margin: 0;
  padding: 0;
  transition-duration: 0.4s;
}
@media (max-width: 500px) {
  .sliderBig__item {
    max-height: 300px;
  }
}
.sliderBig__item img {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sliderBig:hover {
  transition-duration: 0.4s;
  transform: scale3d(1.1, 1.1, 1.5);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.footer {
  padding: 40px 0;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 50px;
  background-color: #8BA9A9;
}