@import 'nullStyle.scss';

body {
	height: 100%;
	background-color: #EEF2F2 ;
//	background-color: grey;
}

.container {
	max-width: 1100px;
	margin: 0 auto;

}


.wrapper {

}
.header {
	background: url('..//..//img/backgrounds/IMG_6371-11-1.jpg')0 0 no-repeat;
	min-height: 500px;
	position: relative;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		color: #31312B ;
		border-bottom: 3px solid #fff;
	}
	&__menu {
		border-bottom: 3px solid #fff;
	}
}

.title {
	&__logo {
		margin: 0 15px 0 0;
	}
	&__info {

	}
	&__info-title {
		text-align: center;
		& p{
			text-transform: uppercase;
			font-size: 25px;
			font-weight: bold;
		}
	}
	&__info-content {
		@media (max-width:767px){
			border: none;
		}
		display: flex;
		border: 2px solid #7A7A6B ;
	}
	&__info-content-block {
		display: flex;
		align-items: center;
		& span{
			@media (max-width:767px){
				font-size: 60px;
			}
			font-size: 110px;
			font-weight: 500;
			color: #ABAB95 ;
			text-shadow: 2px 2px 8px #000;
		}
		& p{
			font-size: 20px;
			color: #31312B ;
			padding: 0 20px;
		}
	}
	&__info-contacts {
		@media (max-width:767px){
			border: none;
		}
		border: 2px solid #7A7A6B ;
		padding: 30px 10px;
		margin: 0 0 0 15px;
		color: #fff;
		font-weight: bold;
		font-size: 25px;
	}
}

// Menu
.menu {
	&__list {
		display: flex;
		justify-content:space-around;
		align-items: center;
		margin: 10px 0;
		&>li{
			border-radius: 15px 15px 15px 15px;
		}
		&>li:hover{
			box-shadow: 0px -4px 8px #CA6F1E ;
			transition-duration: 0.3s;
		}
		& li{
			position: relative;
			transition-duration: 0.3s;
		//	transition-delay: 0.3s;
		}
		&>li:hover .sub-menu__list{
//			transition-duration: 0.5s;
//			display: block;
//			height:250px;
			
		}
	}
	&__link {
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		background-color: #F0B27A ;
		padding:10px;
		border-radius: 15px;
	}
	&__link:hover{
		opacity: 0.8;
	//	border-radius: 15px 15px 0 0;
	}
	&__link.parent{
		padding-right: 40px;
	}
	&__link.borderBottom{
		border-radius: 15px 15px 0 0;
	}
}
//Sub-menu
.sub-menu {
	&__list {
		z-index: 1;
		border-radius: 15px 15px 15px 15px;
//		border: 1px solid #000;
		height: 0;
		transition-duration: 0.2s;
		overflow: hidden;
		display:block;
		min-width: 150px;
		background-color: #F8C471;
		position: absolute;
		top: 40px;
		left: 0px;
		& li{
			padding: 10px;
		}
		& li:hover{
			background-color: #FAD7A0;
		}
	}
	&__link {
		font-size: 20px;
		padding: 5px 0 5px 0;
		color: #fff;
		display: inline-block;
	}
}

//Arrows
.arrow{
	display: none;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-top: 10px solid #A2754D;
	border-bottom: none;
	border-right: 10px solid transparent;
	position: absolute;
	top: 15px;
	right: 10px;
	transition-duration: 0.3s;

}

.arrow.active{
	transform:rotate(-180deg);
	transition-duration: 0.3s;

}


body.mouse .menu__list>li:hover .sub-menu__list{
	transition-duration: 0.5s;
//	display: block;
	height:250px;
}

body.mouse .sub-menu__list>li:hover .sub-sub-menu__list{
	transition-duration: 0.5s;
//	display: block;
	height:250px;
}

body.touch .sub-menu__list.open{
	transition-duration: 0.5s;
//	display: block;
	height:250px;
	border-radius: 0px 15px 15px 15px;
}

body.touch .sub-sub-menu__list.open{
	transition-duration: 0.5s;
//	display: block;
	height:250px;
}

body.touch .arrow{
	display: block;
}
@media (max-width:900px){
	.header__title{
		flex-wrap:wrap;

	}
	.title__info-content{
		flex-wrap:wrap;
		border: none;
		& span{
			font-size: 70px;
		}
	}
	.bottom__row{
		flex-wrap:wrap;
//		margin: 0 auto;

	}
	.title__logo{
		margin: 0 auto;
	}
	.title__info-contacts{
		border: none;
	}
}

@media (max-width:767px){
	.container{
		margin: 0 15px;
//		padding: ;
	}
	
	.title__info-content{
		flex-wrap:wrap;
	}
	.bottom__row{
		flex-wrap:wrap;
//		margin: 0 auto;

	}
	.bottom__row-column{
		margin: 0 auto;
	}
	.header__animate{
		display: none;
	}
	.menu__list{
		display: block;

		& li{
			display: block;
			max-width: 250px;
			margin: 10px auto;
		}
	}
	body.touch .sub-menu__list.open{
		border-radius: 0px 0px 15px 15px;
	}

	.menu__link{
		display: block;
	}
	.sub-menu{
		&__list{
			position: relative;
			top: 0;

		}
	}

}

//Forma
.form-cover {
	z-index: 0;
	position: relative;
	margin: 10px ;
//	text-align: center;
	min-width: 300px;
	max-height: 60px;


	&>p{
		width: 100%;
		height:100%;
		display: inline-block;
		padding: none;
		cursor: pointer;
		background: rgba(24,181,164,0.9);
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		text-align: left;
		position: relative;
		transition-duration: 0.4s;
	}
	&>p:hover{
		box-shadow: 0px 2px 6px #363A3E ;
		transition-duration: 0.4s;
	}
}


.icon{
	position: absolute;
	display: inline-block;
	margin: 0 0 0 150px;
	font-size: 12px;
	transition-duration: 0.4s;
	letter-spacing: 4px;
}
.icon:hover{
		color: #EF5236;
		transition-duration: 0.4s;
		font-weight: bold;
}
.form {
	@media (max-width:767px){
		background: rgba(24,181,164,1)
	}
	position: absolute;
	width: 100%;
	background: rgba(24,181,164,0.6);
	transition-duration: 0.4s;
	height: 0px;
	overflow: hidden;
	border-radius: 0 0 15px 15px;
	& p{
		text-align: left;
		font-size: 20px;
		padding: 0 0 5px 0;
		color: #EF5236;
	}
	& div{
		padding: 0px;
	}
	& input{
		height: 30px;
		padding: 0 0 0 10px;
		cursor: pointer;
		border-radius: 5px;
		box-shadow: 0px 2px 10px #363A3E ;
	}
	&__name {}
	&__password {}
	&__phone {}
	&__sex {
		& div{
			display: flex;
			align-items: center;
			& p{
				margin: 5px 10px 0 0;
			}
			& input{
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 5px;
				box-shadow: none;
			}
		}
	}
	&__buttons{
		& button{
			position: relative;
			background: rgba(56, 151, 237, 0.5);
			border-radius: 10px;
			display: inline-block;
			width: 80px;
			margin: 0 40px 0 0;
			font-size: 20px;
			padding: 0 10px;
			transition-duration: 0.4s;
			color: #fff;
			box-shadow: 0px 2px 10px #363A3E ;
		}
		& button:hover{
			background: rgba(56, 151, 237, 1);
			box-shadow: 1px 2px 4px #363A3E ;
			transition-duration: 0.4s;
		}
		& button:active{
			background: rgba(34, 93, 146, 1);
			box-shadow: 1px 0px 4px #363A3E ;
			top: 2px;
			transition-duration: 0.4s;
		}
	}
}

//forma end

//Menu

//Header Bottom
.header {
	&__bottom {
		padding: 40px 0;
		max-width: 1000px;
		margin: 0 auto;
	}
}
.bottom {

	&__title {
		background: rgba(48, 42, 37 ,0.5);
		padding: 30px 0;
		& p{
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
			color: #fff;
		}
	}
	&__row {
		@media (max-width:767px){

		}
		display: flex;
		justify-content:space-between;
		margin: 20px 0;
	}
	&__row-column {
		@media (max-width:767px){
			margin: 10px;
			display: block;
		}
		background: rgba(48, 42, 37 ,0.5);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self:flex-start;

		& p{
			font-size: 20px;
			color: #fff;
			padding: 20px;
		}
		& a{
			display:inline-block;
			padding: 6px 0;
			margin: 0 20px 10px 20px;
			text-align: center;
			font-size: 15px;
			background-color: #EA8124;
			width: 180px;
			color: #fff;
			transition-duration: 0.3s;
		}
		& a:hover{
			background: rgba(234, 129, 36,0.5);
			transition-duration: 0.3s;
			box-shadow: 0 0 8px #A75A15;
		}
	}
}
//Header Bottom

//Header animate arrow
.header {
	&__animate {
		position: absolute;
		left: 49%;
		bottom: 13%;
		z-index: 999;
	}
}
.animate {

	&__chevron {
		position: absolute;
		width: 28px;
		height: 8px;
		opacity: 0;
		transform: scale3d(0.5,0.5,0.5);
		animation: move 3s ease-out infinite;
	}
	&__chevron:before{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 51%;
		background: #fff;
		left: 0;
		transform: skew(0deg,30deg);
	}
	&__chevron:after{
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 51%;
		background: #fff;
		right: 0;
		width: 50%;
		transform: skew(0deg,-30deg);
	}
	&__chevron:first-child {
		animation: move 3s ease-out 1s infinite;
	}
	&__chevron:last-child {
		animation: move 3s ease-out 5s infinite;
	}
}


@keyframes move{

	25% {
	    opacity: 1;
	}

	33% {
	    opacity: 1;
	    transform: translateY(30px);
	}
	67% {
	    opacity: 1;
	    transform: translateY(40px) scale3d(1.2, 1.2, 1.2);
	}
	100% {
	    opacity: 0;
	    transform: translateY(55px) scale3d(0.5,0.5,0.5);
	}
}


.content {
	color:#EA8124;
}
// Content row 01
.content {
	padding: 20px 0 0 0;
	background-color: #EEF2F2 ;
	&__row-01 {
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		& p{
			font-size: 30px;
		}
	}
	&__title:after{
		content: '';
		display: inline-block;
		width: 150px;
		height: 3px;
		background-color: #EA8124;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		@media (max-width:900px){
			justify-content: center;
		}
	}
}
.row {
	&__box {
		background-color: #D0D9DA;
		flex: 0 0 30%;
		display: flex;
		align-items: center;
		padding: 20px;
		margin: 15px;
		@media (max-width:900px){
			padding: 0;
		}
	}
	&__box-icon {
		font-size: 140px;
	}
	&__box-text {}
}

// Content row 01

// Content row 02
//slider
.content {
	&__row-02 {
		margin: 60px auto ;
		padding: 50px 0 50px 0;
	}
}
.slider {
//	max-width: 1000px;
//	margin: 0 auto;
	position: relative;
//	padding: 0 60px;
	& .slick-arrow{
		position: absolute;
		top: 45%;
		z-index: 10;
		font-size: 0;
		margin: 0 10px;
		&.slick-prev{
			left: 0;
			width: 30px;
			height: 30px;
			color: #000;
			background: url('..//..//img/icons/Arrow-left.png') 0 0/ 100% no-repeat;
		}
		&.slick-next{
			right: 0;
			width: 30px;
			height: 30px;
			background: url('..//..//img/icons/Arrow-right.png') 0 0/100% no-repeat;
		}
	}
	//Dots
	& .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		& li{
			&.slick-active button{
				background-color: #000;
			}
			list-style: none;
			margin:0 10px;
			@media (max-width:500px){
				margin:0 5px;
			}
		}
		& button{
			font-size: 0;
			width: 10px;
			height: 10px;
			border: 2px solid #000;
			border-radius: 50%;
		}
	}

	&__item {
		opacity: 0.4;
		transition-duration: 0.4s;
		&.slick-center{
			transition-duration: 0.4s;
			opacity: 1;
		}
		text-align: center;
		padding: 5px 0;
	//	background-color: #CAE1E1 ;
		max-height: 80px;
		@media (max-width:900px){
	//		max-height: 300px;
		}
		@media (max-width:500px){
			max-height: 60px;
		//	margin: 20px 0;
		}

		& img{
			height: 100%;
//			width: 100%;
//			display: block;
//			max-height: 300px;
//			margin: 0 auto;
//			box-shadow: 0 0 28px #A75A15;
			transition-duration: 0.4s;
		/*	@media (max-width:900px){
				max-height: 250px;
			}
			@media (max-width:500px){
				max-height: 150px;
			//	margin: 20px 0;
			}*/

		}
		& img:hover{
//			box-shadow: 0 0 18px #46B3B3  ;
//			transition-duration: 0.4s;
//			transform:scale3d(1.1, 1.1, 1.1);
		}
	}
}

//Slider__Big
.sliderBig {
	margin: 0 0 30px 0;
	padding: 0;
	transition-duration: 0.4s;
	&__item {
		position: relative;
		max-height: 500px;
		text-align: center;
		margin: 0;
		padding: 0;
		transition-duration: 0.4s;
		@media (max-width:500px){
			max-height: 300px;
		//	margin: 20px 0;
		}
		& img{
			height:100%;
			margin: 0;
			padding: 0;
		}
	}
}
.sliderBig:hover{
	transition-duration: 0.4s;
	transform:scale3d(1.1, 1.1, 1.5);
}

.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
//	align-items: end;
}

//Slider__Big

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
// Content row 02
.footer {
	padding: 40px 0;
//	margin: 50px 0;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 50px;
	background-color: #8BA9A9 ;
}
